header{
  background-color: #b8b7a0;
  top: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  left: 0;
  position: fixed;
  height: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  color: white;
  font-family: "Montserrat";
  background-image: url(cover.png);
  background-position: 89%;
  background-size: 20px 30px;
  background-repeat: no-repeat;
}


h1{
  margin-top: 0.7em;
  left: 0;
  top: 0;
  display: flex;
  position: fixed;
  margin-left: 0;
  background-color: #ebdbd1;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 20px solid #b8b7a3;
  background-image: url(header.png);
  background-position: 50px;
  background-size: 70px 110px;
  background-repeat: no-repeat;
  image-rendering: -webkit-optimize-contrast;
}
#home:hover{
  color:white;
  text-decoration-line: underline;
}

#recipes:hover{
  color:white;
  text-decoration-line: underline;
}
#section:hover{
  color:white;
  text-decoration-line: underline;
}

#about:hover{
  color:white;
  text-decoration-line: underline;
}

body{
  background-color: #fff4ee;
  margin: 0;
  padding: 0;
  width: 100%;
}

html{
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: bold;
  color: black;
  text-align: center;
}

.nav{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10%;
  list-style: none;
  display: flex;
}

.nav a{
  color: #6d473a;
  display: flex;
  font-weight: bold;
  min-width: 5em;
  margin-left: 70px;
  margin-top:0;
  text-decoration: none;
  font-size: 18px;
  padding: 17px;
  font-family: 'Montserrat', sans-serif;
}

.nav a:hover {
  color: white;
  text-decoration: underline;

}

.footer{
  position: relative;
  overflow: auto;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #edecd6;
  border-top: 20px solid #b8b7a3;
  background-image: url(header.png);
  background-position: right;
  background-size: 50px 80px;
  background-repeat: no-repeat;
}

.small{
  font-size: 12px;
}

#comment{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #6d473a;
  text-align: right;
  padding-right: 40px;
}

#signup{
  font-size: 12px;
  color: white;
  font-weight: bold;
  margin-left: 85%;
  text-align: right;
}

#login{
  color: white;
  font-weight: bold;
}
h1{
  margin-top: 0.7em;
  left: 0;
  top: 0;
  display: flex;
  position: fixed;
  margin-left: 0;
  background-color: #ebdbd1;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 20px solid #b8b7a3;
  background-image: url(header.png);
  background-position: 50px;
  background-size: 70px 110px;
  background-repeat: no-repeat;
  image-rendering: -webkit-optimize-contrast;
}

body{
  background-color: #fff4ee;
  margin: 0;
  padding: 0;
  width: 100%;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: black;
  text-align: center;
}

.nav{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10%;
  list-style: none;
  display: flex;
}

.nav a{
  color: #6d473a;
  display: flex;
  font-weight: bold;
  min-width: 5em;
  margin-left: 70px;
  margin-top:0;
  text-decoration: none;
  font-size: 18px;
  padding: 17px;
  font-family: 'Montserrat', sans-serif;
}

.nav a:hover {
  color: white;
  text-decoration: underline;

}

.nav input[type=text]{
  width: 180px;
  height: 15px;
  border-radius: 25px;
  border: 2px solid white;
  margin-left: 300px;
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 5px;
  background-color: white;
  background-image: url(search.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  text-indent: 25px;
}
.footer{
  position: relative;
  overflow: auto;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #edecd6;
  border-top: 20px solid #b8b7a3;
  background-image: url(header.png);
  background-position: right;
  background-size: 50px 80px;
  background-repeat: no-repeat;
}
.small{
  font-size: 12px;
}

#comment{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #6d473a;
  text-align: right;
  padding-right: 40px;
}
.hist {
  opacity: 0.2;
  position:absolute;
  top: 170px;
  padding: 20px;
  margin: 4%;
}
 h2{
  color: #6d473a;
  font-size: 50px;
  margin-top: 22%;
}
 h3 {
  color: black;
  font-size: 30px;
}
#woman {
  padding-left: 16%;
  margin-right: 10%;
  position: absolute;
  top: 300px;
}
.detail {
  font-family:'Montserrat',sans-serif ;
  font-size: 20px;
  text-align: justify;
  padding:40px;
  position:inherit;
background-color:rgba(255, 221.00000202655792, 214.00000244379044, 1);
width:900px;
height:530px;
position:inherit;
border-radius: 20px;
margin-left: 15%;
margin-right: 15%;
margin-top: 16%;

}
